/* Reset de márgenes y relleno */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilo del cuerpo */
body {
  background-color: #B5F4FF;
 }


 /* Título del encabezado */
header h1 {
  font-family: Helvetica, Arial, sans-serif; 
}


/* Encabezado */
header {
  background-color: #007bff; /* Fondo de color azul */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


nav ul li a {
  color: white; /* Cambia el color de los enlaces a blanco */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Transición suave para el cambio de color */
}



/* Efecto hover para los enlaces */
nav ul li a:hover {
  color: #ffdd57; /* Color amarillo claro al pasar el cursor */
}


#contenido img {
  width: 80%; /* Ajusta el ancho de la imagen al 80% del contenedor */
  max-width: 400px; /* Limita el ancho máximo a 400px */
  height: auto; /* Mantiene la relación de aspecto */
  margin-top: 20px; /* Añade un poco de espacio arriba de la imagen */
}